click
fairseq
future
fvcore
hypothesis<4.0
mock
numpy
onnx
pytorch-pretrained-bert
requests
sentencepiece
torchtext
tensorboard
torch
pandas
pytorch-dp
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
