click
fairseq
future
fvcore
hypothesis<4.0
mock
numpy
onnx
pytorch-pretrained-bert
requests
sentencepiece
torchtext
tensorboard
torch
pandas
pytorch-dp
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
