click
fairseq
future
fvcore
hypothesis<4.0
joblib
numpy
onnx>=1.6.0
# pytorch-pretrained-bert requires python-dateutil < 2.8.1
python-dateutil==2.8.0
pandas
pytorch-pretrained-bert
pytorch-dp
regex==2019.11.1
requests
scipy
sentencepiece
tensorboard
torch
torchtext
bleach>=3.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
py>=1.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
